@import url('../css/fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        accent-color: #b961ec;
    }
}

@layer components {
    .input-form {
        @apply outline-none w-full mb-[25px] py-[6px] px-[30px] border-b border-[#999] font-poppins text-[14px]
    }
}

@media(max-width: 660px) {

    a[href="/signin"] {
        top: 460px !important;
    }

    .signup-b > input[type="submit"] {
        display: block;
        width: 100%;
        margin-top: 0;
    }

}

@media (max-width: 500px) {

    body {
        background-color: #FFF !important;
    }

    form {
        width: 80% !important;
    }

    .form {
        box-shadow: none;
    }

    .signin-b {
        align-items: center !important;
    }
}

@media (max-width: 400px) {
    form {
        width: 94% !important;
    }
}

@media (max-width: 287px) {
    .logwith {
        flex-direction: column !important;
        gap: 5px !important;
    }

    .logwith-p {
        display: none !important;
    }
}